<h1>_ARCHITEKT</h1>
<img src="{{link}}" alt="oops">
<form action="/gallery/{{id}}/edit" method="POST">
<input type="hidden" name="_method" value="PUT">
  {{author}}<br>
  <input type="text" name="author"><br>
  {{link}}<br>
  <input type="text" name="link"><br>
  {{description}}<br>
  <input type="text" name="description"><br>
  <input type="submit" value="Submit">
</form>